*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* ----START BUTTON DECORATION---- */

.button {
  border-radius: 25px;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  font-size: 1.3rem;
}
button i {
padding: 0 3px;
font-weight: 0.8rem;
}

button.white {
  background-color: white;
  color: black;
}

button.dark {
  background-color: rgb(35, 39, 42);
  color: white;
}

button.violet {
  background-color: rgb(142, 161, 225);
  color: white;
}


/* ----END BUTTON DECORATION---- */


/* ----HEADER START----- */

header {
  background-color: rgb(37, 94, 233);
  height: 70px;
}

header .container {
  width: 70%;
  min-height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

header button.white {
  font-size: 1rem;
}

/* ----START NAV---- */
nav {
  height: 100%;
}

.container ul {
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
}

.container ul li a {
  color: white;
  text-decoration: none;
  margin-right: 30px;
  font-size: 1.3rem;
}

.container ul li a:hover {
  text-decoration: underline;
}

/* ----END NAV---- */
/* ----HEADER END----- */

/* ----JUMBOTRONE START----- */

.jumbotrone {
  display: flex;
  flex-direction: column;
  align-items: center ;
  min-height: 500px;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: top;
}

.jumbotrone-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 40%;
  color: white;
  text-align: center;
  margin-top: 100px;
}

.jumbotrone-section > h1 {
  font-size: 3rem;
  margin-bottom: 70px;
}

.jumbotrone-section > p {
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.jumbotrone .jumbotrone-nav button {
  margin-right: 30px;
}
/* ----JUMBOTRONE END----- */


/* ----MAIN START----- */

main section {
  padding-top: 150px;
  max-width: 2440px;
  margin: 0 auto;
}

main section.white-bg {
  background-color: white;
}

main section.gray-bg {
  background-color:rgb(195, 195, 195)
}

main .container {
  display: flex;
  flex-wrap: nowrap;
  min-width: 70%;
  max-width: 1200px;
  min-height: 600px;
  margin: auto ;
  padding: 50px;
}

.container .content-left {
  min-width: 60%;
  min-height: 100%;
}

.container .content-right {
  width: 40%;
  min-height: 100%;
}

.gray-bg.channel .container {
display: flex;
flex-direction: row-reverse;
}

.content-right > h3 {
  font-size: 3.5rem;
  margin-bottom: 30px ;
}

.content-right > p {
  font-size: 1.2rem;
  text-align: left;
  line-height: 2rem;
}

main .wave {
margin-top: 50px;
}

main .white-bg .wave  {
min-height: 100px;
background-repeat: no-repeat;
background-size: cover;
background-image: url(../img/wave.svg);
filter: invert(88%) sepia(0%) saturate(1470%) hue-rotate(15deg) brightness(90%) contrast(90%)
}

main .gray-bg .wave {
  min-height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/wave.svg);
  filter: invert(100%) sepia(98%) saturate(0%) hue-rotate(329deg) brightness(102%) contrast(104%);
}

.sharing .container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  width: 70%;
  height: 100%;
}

.sharing h3 {
  font-size: 3rem;
  color: rgb(35, 39, 42);
  margin-bottom: 20px;
}

.sharing .content {
  padding: 30px;
}

.sharing .content.footer {
  background-image: url(../img/stars.svg);
  background-repeat: no-repeat;
  background-position: center top;
}

.sharing h6 {
font-size: 1.7rem;
color: rgb(35, 39, 42);
margin-bottom: 50px;
padding: 10px;
}

/* ----MAIN END----- */

/* ----FOOTER START----- */

footer {
  background-color: rgb(35, 39, 42);
  padding: 100px 0;
}

footer .container-top {
  display: flex;
  height: 100%;
  width: 70%;
  max-width: 1200px;
  min-height: 400px;
  margin: auto;
  margin-bottom: 30px;
}

.container-top > .col{
  height: 100%;
  width: 15%;
}

footer .col h6 {
font-size: 1rem;
color: rgb(114, 137, 219);
margin: 10px 0;
}

/* START COL SOCIAL */
.container-top > .col.social {
  height: 100%;
  width: 40%;
  color: white;
}

footer .col.social h2 {
  font-size: 2.5rem;
  color: rgb(114, 137, 219);
  margin-bottom: 20px;
}

footer .col.social img {
  width: 30px;
  margin-right: 10px;
}

.icons i {
  padding-top: 20px;
  margin-right: 20px;
  font-size: 1.8rem;
}

/* END COL SOCIAL */

/* START COL STYLE*/

.col ul li {
  text-decoration: none;
  list-style: none;
  padding: 10px 0;
}

.col ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
}

/* END COL STYLE */

/* START FOOTER CONTAINER BOTTOM*/

footer .container-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  min-height: 100%;
  margin: auto;
  border-top: 2px solid rgb(114, 137, 219);
  padding: 20px 0;
}

footer .container-bottom img {
  width: 150px;
}
