*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* ----START BUTTON DECORATION---- */

.button {
  border-radius: 25px;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  font-size: 1.3rem;
}
button i {
padding: 0 3px;
font-weight: 0.8rem;
}

button.white {
  background-color: white;
  color: black;
}

button.dark {
  background-color: rgb(35, 39, 42);
  color: white;
}

button.violet {
  background-color: rgb(142, 161, 225);
  color: white;
}


/* ----END BUTTON DECORATION---- */


/* ----HEADER START----- */

header {
  background-color: rgb(37, 94, 233);
  height: 70px;
}

header .container {
  width: 70%;
  min-height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

header button.white {
  font-size: 1rem;
}

/* ----START NAV---- */
nav {
  height: 100%;
}

.container ul {
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
}

.container ul li a {
  color: white;
  text-decoration: none;
  margin-right: 30px;
  font-size: 1.3rem;
}

.container ul li a:hover {
  text-decoration: underline;
}

/* ----END NAV---- */
/* ----HEADER END----- */

/* ----JUMBOTRONE START----- */

.jumbotrone {
  display: flex;
  flex-direction: column;
  align-items: center ;
  min-height: 500px;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: top;
}

.jumbotrone-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 40%;
  color: white;
  text-align: center;
  margin-top: 100px;
}

.jumbotrone-section > h1 {
  font-size: 3rem;
  margin-bottom: 70px;
}

.jumbotrone-section > p {
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.jumbotrone .jumbotrone-nav button {
  margin-right: 30px;
}
/* ----JUMBOTRONE END----- */


/* ----MAIN START----- */

main section {
  padding: 150px 0;
}

main section.white-bg {
  background-color: white;
}

main section.gray-bg {
  background-color: rgb(246, 246, 246)
}

.gray-bg.channel .content-left {
  text-align: end;
}

main .container {
  display: flex;
  width: 70%;
  max-width: 1200px;
  height: 600px;
  margin: auto;
}

main .container .content-left {
  width: 60%;
  height: 100%;
}

main .container .content-right {
  height: 100%;
  width: 40%;
  padding: 40px 20px;
}

.content-right > h3 {
  font-size: 3.5rem;
  margin-bottom: 30px ;
}

.content-right > p {
  font-size: 1.2rem;
  text-align: left;
  line-height: 2rem;
}

.sharing .container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  width: 70%;
  height: 100%;
}

.sharing h3 {
  font-size: 3rem;
  color: rgb(35, 39, 42);
  margin-bottom: 20px;
}

.sharing .content {
  padding: 30px;
}

.sharing .content.footer {
  background-image: url(../img/stars.svg);
  background-repeat: no-repeat;
  background-position: center top;
}

.sharing h6 {
font-size: 1.7rem;
color: rgb(35, 39, 42);
margin-bottom: 50px;
padding: 10px;
}

/* ----MAIN END----- */

/* ----FOOTER START----- */

footer {
  background-color: rgb(14, 29, 43);
  padding: 20px 0;
}

footer .container-top {
  display: flex;
  height: 100%;
  width: 70%;
  height: 400px;
  background-color: brown; /*DEBUG*/
  margin: auto;
  margin-bottom: 30px;
}

.container-top > div {
  border: 1px solid black;
}

.container-top > .col{
  background-color: rgb(32, 178, 170);
  height: 100%;
  width: 15%;
}

.container-top > .col.social {
height: 100%;
width: 40%;
background-color: rgb(240, 128, 128);
}

footer .container-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  min-height: 100%;
  margin: auto;
  background-color: aquamarine;
  border-top: 5px solid lightblue;
  padding: 10px;
}